body {
    margin: 0;
    padding: 0;
    background-color: #121212; 
    color: #ffffff; 
    font-family: Lato, sans-serif; 
    font-weight: 550; 
    font-style: normal; 
    background-image: url('images/pattern2.png');
}

.top-navbar {
    background-color: #1a1a1a;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 10px;
    box-shadow: #272727 0px 0px 10px;
}

.top-navbar img {
    max-width: 60px; 
    height: auto;
}

.top-navbar a {
    text-decoration: none;
    color: #ffffff; 
    margin: 0 10px; 
    font-size: 18px; 
    font-family: Lato, sans-serif; 
    font-weight: 550; 
    font-style: normal; 
    transition: color 0.3s; 
}

.top-navbar a:hover {
    color: #ff9900; 
}

.content {
    padding: 60px;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 40px; 
    margin-bottom: 20px;
}

.sub-header {
    text-align: center;
    font-size: 24px; 
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
}

.orange-button {
    display: inline-block;
    background-color: #ff9900;
    box-shadow: #ff9e0d 0px 0px 10px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
    font-size: 18px; 
}

.orange-button:hover {
    background-color: #ff8000;
    box-shadow: #ff9e0d 0px 0px 15px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    text-align: center;
    background-color: #272727;
    padding: 20px;
    border-radius: 10px;
    width: 200px; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: #272727 0px 0px 10px;
}

.card img {
    max-width: 50px;
    height: auto;
    vertical-align: middle;
    fill: #ff8000;
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
}